@model Gestion_parc_info.Models.Utilisateur
@{
    ViewBag.Title = "Login";
    Layout = "";
}
<br />
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
<fieldset>
    <legend>Login Page</legend>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }
    <div class="center">
        <img src="../../Content/portrait m6.jpeg" alt="portrait" height="200" width="200" class="center-block">
    
    <table>
        <tr>
            <td><span class="add-on"><i class="icon-user"></i></span></td>
            <td>@Html.LabelFor(a => a.Id)</td>
            <td>@Html.TextBoxFor(a => a.Id)</td>
            <td>@Html.ValidationMessageFor(a => a.Id)</td>
        </tr>
        <tr>
            <td><span class="add-on"><i class="icon-lock"></i></span></td>
            <td>
                @Html.LabelFor(a => a.MotDePasse)
            </td>
            <td>
                @Html.PasswordFor(a => a.MotDePasse)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.MotDePasse)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" class="btn btn-primary d-block my-5" />
            </td>
            <td></td>
        </tr>
    </table>
        </div>
</fieldset>
}  