@model Gestion_parc_info.Models.Utilisateur
@{
    ViewBag.Title = "Detail";
}
<div class="nk-dislaimer">
    <h2 class="display-1 lead" style="font-size: 25px;">Utilisateur n° @Model.Matricule</h2>

    <p>Nom : <span>@Model.Nom</span></p>
    <p>Prenom : <span>@Model.Prenom</span></p>
    <p>Role : <span>@Model.Role</span></p>
    <p>Structure : <span>@Model.Structure</span></p>
    @Html.ActionLink("Edit Utilisateur", "Edit", "Utilisateurs", new { id = Model.Matricule }, new { @class = "btn btn-primary" })
</div>