@model List<Gestion_parc_info.Models.Fournisseur>
@{
    ViewBag.Title = "Fournisseur";
}
<div style="display: flex; justify-content: space-between; margin: 10px auto; align-items: center ">
    <h2 class="display-1"> Fournisseur</h2>
    @Html.ActionLink("Ajouter Fournisseur", "New", "Fournisseurs", null, new { @class = "btn btn-primary" })
</div>

<table class="table table-bordered table-striped" id="fournisseurs">
    <thead>
        <tr>
            <th>Code Fournisseur</th>
            <th>Nom Fournisseur</th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var fournisseur in Model)
        {
            <tr>
                <td>
                    @fournisseur.CodeFournisseur
                </td>
                <td>
                    @fournisseur.NomFournisseur
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Fournisseurs", new { id = fournisseur.CodeFournisseur }, null)
                </td>
                <td>
                    @Html.ActionLink("Detail", "Detail", "Fournisseurs", new { id = fournisseur.CodeFournisseur }, null)
                </td>
                <td>
                    <button data-fournisseur-id="@fournisseur.CodeFournisseur" class="btn-link js-delete">delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
